In [1]:
import numpy as np
import pandas as pd
from wb_nlp import dir_manager

In [2]:
import pymongo

client = pymongo.MongoClient(host='mongodb', port=27017)
db = client['nlp']
collection = db['metadata']

In [3]:
%%time

d = collection.find(
    {'corpus': 'wb'},
    projection=['year', 'countries'])

data = [i for i in d]
df = pd.DataFrame(data).set_index('_id')

CPU times: user 1.26 s, sys: 76.9 ms, total: 1.34 s
Wall time: 1.63 s

In [3]:
%%time

d = collection.find(
    {'corpus': 'wb'},
    projection=['year', 'countries'])

data = [i for i in d]
df = pd.DataFrame(data).set_index('_id')
country_df = pd.DataFrame(df['countries'].tolist(), index=df.index)

CPU times: user 12.7 s, sys: 280 ms, total: 13 s
Wall time: 13.3 s

In [4]:
%%time
country_df = pd.DataFrame.from_records(df['countries'].tolist(), index=df.index)

CPU times: user 11.3 s, sys: 213 ms, total: 11.5 s
Wall time: 11.5 s

In [3]:
%%time
d = collection.find(
    {'corpus': 'wb'},
    projection=['year', 'countries'])

dc = pd.DataFrame.from_records([i['countries'] for i in d])

CPU times: user 12.4 s, sys: 272 ms, total: 12.7 s
Wall time: 13 s

In [4]:
dc

,ARG,BRA,CHL,COL,IDN,MEX,MYS,PER,RUS,THA,...,SSD,ESH,ATA,PCN,WLF,BVT,CUW,FRO,BLM,SXM
0,30.0,13.0,20.0,2.0,18.0,13.0,3.0,2.0,10.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,2.0,NaN,NaN,2.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222023,1.0,NaN,3.0,2.0,NaN,11.0,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
group = country_df.groupby(df['year'])

In [38]:
for group_ix, group_df in group:
    break

In [41]:
(group_df > 0).sum()

ARG    0
BRA    2
CHL    3
COL    2
IDN    0
      ..
BVT    0
CUW    0
FRO    0
BLM    0
SXM    0
Length: 245, dtype: int64

In [53]:
%%time
d = collection.find(
    {'corpus': 'wb'},
    projection=['year', 'countries'])  # , sort=[('year', 1)])

cdf = pd.DataFrame.from_dict({i['_id']: [i['year']] + [i['countries'].get(c, 0) for c in country_codes] for i in d}, orient='index', columns=['year'] + country_codes)

# dd = {i['_id']: [i['year']] + [i['countries'].get(c, 0) for c in country_codes] for i in d}

CPU times: user 29.4 s, sys: 884 ms, total: 30.3 s
Wall time: 30.6 s

In [54]:
cdf.shape

(222027, 246)

In [3]:
## Hints

# nlp = spacy.load('en_core_web_sm')